/* Navigation bar */

nav {
  display: flex;
  background: #ff6600;
  align-items: center;
  padding: 22px 20px;
  border-radius: 3px 3px 0 0;
}

.navbar-brand {
  font-size: 21px;
  font-weight: bold;
}

.nav-link {
  font-size: 0.85rem;
  margin: 0 3px;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

.nav-right {
  margin-left: auto;
  text-align: right;
}

#nav-user-profile {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.main-nav-user-links {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  margin: 0 18px;
  margin-top: 6px;
}

.main-nav-user-links a {
  justify-content: space-evenly;
  margin-right: 10px;
}

.main-nav-user-links a:hover {
  color: rgb(248, 248, 248);
  text-decoration: underline;
}