/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list>li {
  color: gray;
  font-size: 0.8rem;
  padding-bottom: 8px;
  border-bottom: 2px solid rgb(195, 195, 195);
  margin: 10px 0;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

#my-stories-list,
#favorite-stories-list {
  padding-left: 15px;
  list-style: none;
}


/* Individual stories */

.story-link {
  color: rgb(16, 15, 15);
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;

}

.story-author {
  margin-left: 2em;
  font-size: 0.85rem;
  color: rgb(3, 118, 3);
  padding: 6px 0;
}

.story-user {
  display: block;
  margin-left: 2em;
  font-size: 0.85rem;
  color: rgb(252, 169, 17);
}

.deleted-stories {
  border: none;
  background: none;
}

.deleted-stories:hover {
  color: rgb(234, 0, 0);
}

.star:hover {
  color: rgb(254, 122, 73);
}

.star,
.deleted-stories {
  display: inline;
  font-size: 0.75rem;
  margin: 0 5px;
  cursor: pointer;
}